@model IA_Ecom.ViewModels.ProductViewModel;
@{
ViewData["Title"] = "Product Details";
Layout = "~/Views/Home/_PageLayout.cshtml";
}
<!-- DETAIL SECTION -->
    <section id="prod-details" class="section">
        <div class="section_content__container grid-two">

            <div class="product-image-show">
                <div class="featured__new">@Model.ProductCondition</div>
                <img src="@Model.ThumbnailImageUrl" class="main-img" alt="@Model.Name" id="MainImg">
                <div class="small-img-group">
                    @foreach (var image in Model.ImageUrls)
                    {
                        <div class="small-img-col">
                            <img src="@image" class="small-img" alt="">
                        </div>
                        <div class="small-img-col">
                            <img src="@image" class="small-img">
                        </div>
                        <div class="small-img-col">
                            <img src="@image" class="small-img">
                        </div>
                        <div class="small-img-col">
                            <img src="@image" class="small-img">
                        </div>
                    }
                </div>
            </div>
            <div class="product-info-detail">
                <h6>Home / T-Shirt</h6>
                <h4 class="product-title">@Model.Name</h4>
                <h2 class="product-info">@Model.Price</h2>
                <form asp-controller="Order" asp-action="AddToCart" method="POST" class="user-form">
                    <div class="form-group">
                        <select id="select-size" name="ProductSize" required>
                            <option value="" selected>Select Size</option>
                            <option value="XL">XL</option>
                            <option value="XXL">XXL</option>
                            <option value="small">small</option>
                            <option value="large">Large</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="number" >Quantity</label>
                        <input type="number" id="number" name="Quantity" class="user-form__input" value="1" required>
                    </div>
                    <input type="hidden" name="UnitPrice" class="user-form__input" value="@Model.Price" required>
                    <input type="hidden" name="ProductId" class="user-form__input" value="@Model.ProductId" required>
                    <input type="hidden" name="ProductName" class="user-form__input" value="@Model.Name" required>
                    <button class="button" type="submit">Add To Cart</button>
                </form>
                <h4>Product Details</h4>
                <span>@Model.Description</span>
            </div>
        </div>
    </section>

