@model IA_Ecom.ViewModels.ManageUserViewModel;
@{
    ViewData["Title"] = "User Management";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}
<div class="page-title">
    <h2>User Management</h2>
</div>
<div class="responsive-grid">
    <div class="card">
        <div class="">
            <h3>User List</h3>
            <table>
                <thead>
                <tr>
                    <th>Username</th>
                    <th>Email</th>
                    <th>FullName</th>
                    <th>Role</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody id="userTableBody">
                @foreach (var user in Model.Users)
                {
                    <tr>
                        <td>@user.Username</td>
                        <td>@user.Email</td>
                        <td>@user.FullName</td>
                        <td>@user.Role</td>
                        <td>
                            <a asp-controller="Admin" asp-action="UserDetails" asp-route-id="@user.UserId" class="button edit-button">Edit</a>
                            <a asp-controller="Admin" asp-action="DeleteUser" asp-route-id="@user.UserId" class="button-secondary delete-button">Delete</a>
                        </td>
                    </tr>
                }                 
                </tbody>
            </table>
        </div>
    </div>

    <div class="card">
        <div class="">
            <h3>Create / Edit User</h3>
            <form asp-controller="Admin" asp-action="EditUser" id="userForm" class="user-form">
                @* <div class="form-group"> *@
                @*     <label asp-for="@Model.User.Username">Username</label> *@
                @*     <input asp-for="@Model.User.Username" class="user-form__input form-control" placeholder="Enter your name" name="username" required> *@
                @* </div> *@

                <div class="form-group">
                    <label asp-for="@Model.User.Email">Email</label>
                    <input type="email" asp-for="@Model.User.Email" class="user-form__input form-control" placeholder="Enter your email" required>
                </div>
                <div class="horizontal-group">
                    <div>
                    <label asp-for="@Model.User.FirstName">FirstName</label>
                    <input type="email" asp-for="@Model.User.FirstName" class="user-form__input form-control" placeholder="Enter your FirstName" required>
                    </div>
                    <div>
                        <label asp-for="@Model.User.LastName">LastName</label>
                        <input type="email" asp-for="@Model.User.LastName" class="user-form__input form-control" placeholder="Enter your LastName" required>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="@Model.User.Role">Role</label>
                    <select asp-for="@Model.User.Role" asp-items="@Model.User.RoleOptions" id="role">
                        <option value="">Select a Role</option>
                    </select>
                </div>

                <input type="hidden" asp-for="@Model.User.UserId" required>
                <button type="submit" class="button">Save User</button>
            </form>

        </div>
    </div>
</div>