@model IA_Ecom.ViewModels.ManageProductViewModel;
@{
    ViewData["Title"] = "Order Management";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}
<div class="page-title">
    <h2>Product Management</h2>
</div>
<div class="responsive-grid">
    <div class="card">
        <h3 class="card-title">Products</h3>
        <table class="product-table">
            <thead>
            <tr>
                <th>Product ID</th>
                <th>Name</th>
                <th>Category</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var product in Model.Products)
            {
                <tr>
                    <td>@product.ProductId</td>
                    <td>@product.Name</td>
                    <td>@product.Category</td>
                    <td>@product.Price</td>
                    <td>@product.Stock</td>
                    <td>
                        @* <button class="button edit-button" onclick="editProduct(@product.ProductId)">Edit</button> *@
                        <a asp-controller="Admin" asp-action="ProductDetails" asp-route-id="@product.ProductId" class="button edit-button">Edit</a>
                        <a asp-controller="Admin" asp-action="DeleteProduct" asp-route-id="@product.ProductId" class="button-secondary delete-button">Delete</a>
                        @* <button class="button-secondary delete-button" onclick="deleteProduct(@product.ProductId)">Delete</button> *@
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>

    @{
    // Render the partial view
    Html.RenderPartial("_EditProduct", Model.Product);
    } 
</div>